html {
    /* font-size : clamp(1rem, 4vh, 5rem); */
    font-size: calc(15px + 0.390625vw);
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
}

.section-images {
    height: 100%;
    margin: auto 2em;
}

img, video {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height:90vh;
    margin: 20px auto;
}

#header {
    position: fixed;
    top: 0px;
    height: 30px;   /* MUST match #content.margin-top */
    width: 100%;
    background: white;
    box-sizing: border-box; /* this makes padding work */
}

#content {
    margin-top: 30px;   /* MUST match #header.height */
}
