<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css').replace('/index.cgi', '') }}" />
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    <div id="header">
        {% block header %}
        <a href="/">Home</a>
        {% endblock header %}
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
</body>
</html>